<div class="static_page_home text-center">
    <h1>Hey, Welcome to the Pimentann </h1>
    <h2> New User?  <%= link_to "Sign up", signup_path %> </h2>
    <h3> Let's explore together </h3>
    
</div>