<% @user ||=current_user %>

  <div class="stats d-flex w-50">

    <div class="mt-4 ">
      <a href="<%= followers_user_path(@user) %>">
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
        followers
      </a>
    </div>
    <div class=" mt-4 mx-3">
      <a href="<%= following_user_path(@user) %>">
        <strong id="following" class="stat">
          <%= @user.following.count %>
        </strong>
        following
      </a>
    </div>
  </div>