<% @user ||= current_user %>

<div class="stats">
    <div class="col-2">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong> 
    following
  </a>
</div>
  <div class="col-2">
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
    </a>
</div>
</div>