
<div id="user_movies">

<% if current_user?(@user) %>
<%= link_to books_path, class: "btn btn-primary" do %>
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
  </svg>
  Add Books
<% end %>
<% end %>

<div class="container">
  <h2>Books State</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Read</a></li>
    <li><a data-toggle="tab" href="#menu1">Reading</a></li>
    <li><a data-toggle="tab" href="#menu2">To Read</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h1>Read Books</h1>
<div class="user_movie_relationship_movies" style="overflow-y: scroll;height: 450px;">
  <div class="row books_read">
       <%= render 'read' %>
    </div>
</div>
</div>
    <div id="menu1" class="tab-pane fade">
      <h1>Reading Books</h1>
<div class="user_movie_relationship_movies" style="overflow-y: scroll;height: 450px;">
  <div class="row books_to_read">
       <%= render 'reading' %>
  </div>
</div> 
</div>
    <div id="menu2" class="tab-pane fade">
      <h1>To_read Books</h1>
<div class="user_movie_relationship_movies" style="overflow-y: scroll;height: 450px;">
  <div class="row books_reading">
       <%= render 'to_read' %>
  </div>
</div>
 </div>
  </div>
</div>



 

</div>
