<!DOCTYPE html>
<html>
  <head>
    <title>Pimentann</title>
    <%= render 'layouts/default_head' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <turbo-frame id="flash">
    <%= render 'layouts/shared/flash' %>
  </turbo-frame>
    <%= yield %>
  </body>
</html>
